# Zadnie rozgrzewkowe oraz zadanie rozgrzewkowe 2

In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import random
import numpy as np

In [2]:
dni = Series(['pn','wt','sr','czw','pt','sb','nd'])
tempertury = Series([11,12,12,14,15,16,19])
wilgotnosc = Series(['80%', '90%', '83%', '95%','88%', '91%'])
slownik = {'Dzien':dni, 'Temperatura': tempertury, 'Wilgotnosc': wilgotnosc}

ramka = DataFrame(data=slownik)

In [3]:
ramka

  Dzien  Temperatura Wilgotnosc
0    pn           11        80%
1    wt           12        90%
2    sr           12        83%
3   czw           14        95%
4    pt           15        88%
5    sb           16        91%
6    nd           19        NaN

In [4]:
from faker import Faker
from faker.generator import random
fake = Faker('pl_PL')

In [5]:
grr = [fake.name() for i in range(250)]

In [6]:
wzrost = np.random.normal(168, 6, 250)
waga = np.random.normal(60, 1.5, 250)
nazwa = [grr.pop(random.randrange(len(grr))) for _ in range(250)]
slownik_zad1 = {'Imie i Nzawisko':nazwa, 'Wzrost':wzrost, 'Waga':waga}

tabela_bmi = DataFrame(data=slownik_zad1)

In [7]:
tabela_bmi

            Imie i Nzawisko       Waga      Wzrost
0           Marcelina Kulon  60.348831  165.168445
1        pani Karina Filiks  58.869273  154.105952
2           Apolonia Orkisz  58.905772  175.849620
3            Nikodem Magier  61.492306  156.592785
4              Bruno Kultys  58.822397  169.855266
5        Julianna Pieczyrak  61.835493  178.110746
6             Sylwia Kuczak  60.603031  176.006526
7            Oliwier Subocz  62.435172  169.552041
8          Wojciech Kurczab  62.413470  165.752097
9          Ksawery Pawlonka  58.270422  165.190776
10        pan Gabriel Roter  59.068040  175.363102
11         Juliusz Białasik  60.417078  156.284291
12              Ida Drygała  60.277916  165.479581
13    pani Janina Pieczyrak  60.035665  163.009348
14             Kaja Kiełbus  59.140732  172.989784
15              Marek Block  60.189237  180.614924
16   pani Bianka Burkiewicz  57.878393  169.351873
17         Kamila Nikołajuk  59.112355  168.146046
18           Witold Golczyk  59.225614  175.590033
19            Roksana Filus  58.421005  171.349297
20           Natan Kiszczak  61.615354  152.451950
21              Ida Bogumił  59.951260  168.850171
22              Róża Bylina  59.339365  172.513895
23          pani Nela Merda  60.213204  162.718308
24            Kajetan Kośka  57.942900  169.304882
25          Grzegorz Graboń  62.499691  167.017711
26           Marika Płaneta  61.155512  163.585630
27             Justyna Rysz  59.571052  164.341291
28         Marcin Tworzydło  60.793831  171.398340
29           Kacper Deptuch  59.968894  169.278962
..                      ...        ...         ...
220         Radosław Kostro  60.162465  171.804528
221          Daniel Piekacz  59.147005  167.814264
222             Ewelina Kut  60.404890  167.339018
223   pan Juliusz Siekierka  59.136175  154.348112
224          Norbert Zybura  60.816056  161.528271
225             Nela Sromek  61.550545  167.891605
226        Borys Borysewicz  61.801261  167.320394
227         Rafał Chwedoruk  61.882121  189.457539
228           Leonard Ekert  59.208075  178.594997
229           Karina Szurek  61.756915  172.655853
230       pan Fabian Gomoła  61.100776  154.824644
231         Cyprian Wojniak  58.724012  165.022415
232              Maks Dukat  58.533378  167.217678
233           Andrzej Glaza  62.283085  158.399367
234      Roksana Baranowicz  59.195003  169.030982
235           Błażej Jędral  57.702278  175.716253
236             Leon Turlej  59.802590  167.095570
237       pani Aniela Lalak  58.769091  170.467965
238              Olga Łepek  58.920469  172.672042
239          pan Adam Krata  60.633383  162.919010
240         Mikołaj Cyrulik  63.009750  163.782820
241             Sara Pawlos  58.244869  174.151953
242              Tola Detka  59.140461  165.771094
243           Ksawery Wicha  60.431369  171.107865
244     pan Krystian Jakiel  59.551646  173.420568
245       pan Tadeusz Wikło  59.565915  157.344855
246       pani Klara Klebba  59.220136  166.838334
247         Arkadiusz Witko  60.621696  178.624683
248           Szymon Łobacz  59.895671  173.064046
249       Konstanty Ślęczka  61.720333  166.305400

[250 rows x 3 columns]

In [8]:
tabela_bmi['BMI'] = waga/(wzrost/100)**2

In [9]:
tabela_bmi

            Imie i Nzawisko       Waga      Wzrost        BMI
0           Marcelina Kulon  60.348831  165.168445  22.121507
1        pani Karina Filiks  58.869273  154.105952  24.788477
2           Apolonia Orkisz  58.905772  175.849620  19.049123
3            Nikodem Magier  61.492306  156.592785  25.077098
4              Bruno Kultys  58.822397  169.855266  20.388472
5        Julianna Pieczyrak  61.835493  178.110746  19.492053
6             Sylwia Kuczak  60.603031  176.006526  19.563061
7            Oliwier Subocz  62.435172  169.552041  21.718172
8          Wojciech Kurczab  62.413470  165.752097  22.717486
9          Ksawery Pawlonka  58.270422  165.190776  21.353869
10        pan Gabriel Roter  59.068040  175.363102  19.207734
11         Juliusz Białasik  60.417078  156.284291  24.735977
12              Ida Drygała  60.277916  165.479581  22.012502
13    pani Janina Pieczyrak  60.035665  163.009348  22.593541
14             Kaja Kiełbus  59.140732  172.989784  19.762678
15              Marek Block  60.189237  180.614924  18.450646
16   pani Bianka Burkiewicz  57.878393  169.351873  20.180711
17         Kamila Nikołajuk  59.112355  168.146046  20.907636
18           Witold Golczyk  59.225614  175.590033  19.209225
19            Roksana Filus  58.421005  171.349297  19.897769
20           Natan Kiszczak  61.615354  152.451950  26.510809
21              Ida Bogumił  59.951260  168.850171  21.027871
22              Róża Bylina  59.339365  172.513895  19.938603
23          pani Nela Merda  60.213204  162.718308  22.741489
24            Kajetan Kośka  57.942900  169.304882  20.214419
25          Grzegorz Graboń  62.499691  167.017711  22.405406
26           Marika Płaneta  61.155512  163.585630  22.853110
27             Justyna Rysz  59.571052  164.341291  22.056768
28         Marcin Tworzydło  60.793831  171.398340  20.694088
29           Kacper Deptuch  59.968894  169.278962  20.927631
..                      ...        ...         ...        ...
220         Radosław Kostro  60.162465  171.804528  20.382451
221          Daniel Piekacz  59.147005  167.814264  21.002694
222             Ewelina Kut  60.404890  167.339018  21.571367
223   pan Juliusz Siekierka  59.136175  154.348112  24.822789
224          Norbert Zybura  60.816056  161.528271  23.308867
225             Nela Sromek  61.550545  167.891605  21.836043
226        Borys Borysewicz  61.801261  167.320394  22.074942
227         Rafał Chwedoruk  61.882121  189.457539  17.240165
228           Leonard Ekert  59.208075  178.594997  18.562752
229           Karina Szurek  61.756915  172.655853  20.716815
230       pan Fabian Gomoła  61.100776  154.824644  25.489807
231         Cyprian Wojniak  58.724012  165.022415  21.564026
232              Maks Dukat  58.533378  167.217678  20.933373
233           Andrzej Glaza  62.283085  158.399367  24.823513
234      Roksana Baranowicz  59.195003  169.030982  20.718219
235           Błażej Jędral  57.702278  175.716253  18.688269
236             Leon Turlej  59.802590  167.095570  21.418552
237       pani Aniela Lalak  58.769091  170.467965  20.223831
238              Olga Łepek  58.920469  172.672042  19.761602
239          pan Adam Krata  60.633383  162.919010  22.843796
240         Mikołaj Cyrulik  63.009750  163.782820  23.489354
241             Sara Pawlos  58.244869  174.151953  19.204410
242              Tola Detka  59.140461  165.771094  21.521230
243           Ksawery Wicha  60.431369  171.107865  20.640608
244     pan Krystian Jakiel  59.551646  173.420568  19.801248
245       pan Tadeusz Wikło  59.565915  157.344855  24.059839
246       pani Klara Klebba  59.220136  166.838334  21.275399
247         Arkadiusz Witko  60.621696  178.624683  18.999630
248           Szymon Łobacz  59.895671  173.064046  19.997778
249       Konstanty Ślęczka  61.720333  166.305400  22.315959

[250 rows x 4 columns]

In [10]:
tabela_bmi.sort_values(by='BMI', ascending=False)

              Imie i Nzawisko       Waga      Wzrost        BMI
197              Sylwia Tofil  59.480899  146.927117  27.553299
20             Natan Kiszczak  61.615354  152.451950  26.510809
230         pan Fabian Gomoła  61.100776  154.824644  25.489807
108             pani Olga Pyś  60.625281  155.368861  25.114573
3              Nikodem Magier  61.492306  156.592785  25.077098
233             Andrzej Glaza  62.283085  158.399367  24.823513
223     pan Juliusz Siekierka  59.136175  154.348112  24.822789
1          pani Karina Filiks  58.869273  154.105952  24.788477
11           Juliusz Białasik  60.417078  156.284291  24.735977
112              Rafał Grabas  58.543741  154.144730  24.639002
114  pani Aurelia Organiściak  60.462905  157.796344  24.282597
245         pan Tadeusz Wikło  59.565915  157.344855  24.059839
95       pan Radosław Małocha  61.901361  160.714789  23.965612
46                Róża Glazik  59.546829  157.634118  23.963938
130               Klara Motak  59.303833  157.683224  23.851285
120            Krystian Jośko  59.133835  157.815149  23.743168
78          Maks Mikołajewicz  62.063243  161.704950  23.734924
157             Oskar Łęgowik  61.264108  160.717828  23.717997
48            pan Łukasz Chyb  61.831855  161.490069  23.709404
166             Marcel Kawiak  62.231175  162.271668  23.633204
180          Jakub Długajczyk  63.112019  163.515629  23.604431
240           Mikołaj Cyrulik  63.009750  163.782820  23.489354
84              Blanka Zielke  57.883674  157.135927  23.442564
42             Olga Apanowicz  61.449188  161.923494  23.436697
169           pan Karol Łabaj  61.659104  162.279778  23.413611
30             Norbert Piegza  61.832470  162.666798  23.367850
224            Norbert Zybura  60.816056  161.528271  23.308867
133          Kajetan Szczerek  62.229564  163.484387  23.283282
91                Olaf Butrym  59.840999  160.353763  23.272365
58               Gaja Sporysz  59.890458  160.638000  23.209247
..                        ...        ...         ...        ...
51               Karol Klejna  60.642813  176.627599  19.438476
213      pani Elżbieta Mysior  59.845572  175.876614  19.347098
105         pan Robert Staśko  57.412944  172.306595  19.337753
117       pan Ignacy Szczudło  58.577212  174.374467  19.264729
118          Dariusz Trojanek  60.483656  177.443279  19.209627
18             Witold Golczyk  59.225614  175.590033  19.209225
10          pan Gabriel Roter  59.068040  175.363102  19.207734
241               Sara Pawlos  58.244869  174.151953  19.204410
182           Mikołaj Żurawik  57.243766  172.676692  19.198211
33             Natasza Cąkała  58.560399  174.828986  19.159190
143              Ignacy Kujda  59.283996  176.255474  19.083246
2             Apolonia Orkisz  58.905772  175.849620  19.049123
113        pan Olgierd Rudolf  55.344605  170.610610  19.013551
247           Arkadiusz Witko  60.621696  178.624683  18.999630
59            pani Inga Malka  57.364227  173.813520  18.987773
235             Błażej Jędral  57.702278  175.716253  18.688269
71             Wojciech Orwat  58.051421  176.418579  18.651949
32           Aleksander Kuryś  59.296092  178.461299  18.618212
228             Leonard Ekert  59.208075  178.594997  18.562752
44         pani Urszula Mitek  59.440154  179.073531  18.536047
167              Artur Skalik  59.585782  179.370853  18.519911
156       pan Kamil Gabryszak  57.814680  176.690682  18.518714
187         pani Sylwia Glica  60.578782  181.048020  18.481319
107                  Eryk Pik  61.482407  182.453086  18.469215
15                Marek Block  60.189237  180.614924  18.450646
104              Aniela Dryka  57.844374  177.137423  18.434887
70              Marek Labudda  59.044229  179.681493  18.288191
185          pan Tymon Mysior  58.433503  178.808903  18.276105
148            Ewelina Kidawa  57.860490  178.296500  18.201051
227           Rafał Chwedoruk  61.882121  189.457539  17.240165

[250 rows x 4 columns]

In [11]:
top_3 = tabela_bmi.sort_values(by='BMI', ascending=False).head(3)

In [12]:
top_3

       Imie i Nzawisko       Waga      Wzrost        BMI
197       Sylwia Tofil  59.480899  146.927117  27.553299
20      Natan Kiszczak  61.615354  152.451950  26.510809
230  pan Fabian Gomoła  61.100776  154.824644  25.489807

# Zadanie 0

In [13]:
df_ebc1 = pd.read_csv('eurofxref.csv')

In [14]:
df_ebc2 = pd.read_csv('eurofxref-hist.csv')

In [15]:
print(df_ebc1.head())

               Date     USD     JPY     BGN     CZK     DKK      GBP     HUF  \
0  20 November 2018  1.1421  128.34  1.9558  26.032  7.4627  0.88908  321.25

      PLN     RON ...    INR      KRW      MXN     MYR     NZD     PHP  \
0  4.3177  4.6673 ...  81.65  1287.96  23.3031  4.7803  1.6683  59.859

      SGD     THB      ZAR
0  1.5675  37.655  16.0629

[1 rows x 34 columns]

In [16]:
print(df_ebc2.head())

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [17]:
print(df_ebc2.shape)

(5094, 43)

In [18]:
print(df_ebc1.shape)

(1, 34)

In [19]:
print(df_ebc1.columns)

Index(['Date', ' USD', ' JPY', ' BGN', ' CZK', ' DKK', ' GBP', ' HUF', ' PLN',
       ' RON', ' SEK', ' CHF', ' ISK', ' NOK', ' HRK', ' RUB', ' TRY', ' AUD',
       ' BRL', ' CAD', ' CNY', ' HKD', ' IDR', ' ILS', ' INR', ' KRW', ' MXN',
       ' MYR', ' NZD', ' PHP', ' SGD', ' THB', ' ZAR', ' '],
      dtype='object')

In [20]:
print(df_ebc2.columns)

Index(['Date', 'USD', 'JPY', 'BGN', 'CYP', 'CZK', 'DKK', 'EEK', 'GBP', 'HUF',
       'LTL', 'LVL', 'MTL', 'PLN', 'ROL', 'RON', 'SEK', 'SIT', 'SKK', 'CHF',
       'ISK', 'NOK', 'HRK', 'RUB', 'TRL', 'TRY', 'AUD', 'BRL', 'CAD', 'CNY',
       'HKD', 'IDR', 'ILS', 'INR', 'KRW', 'MXN', 'MYR', 'NZD', 'PHP', 'SGD',
       'THB', 'ZAR', 'Unnamed: 42'],
      dtype='object')

In [21]:
df_ebc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
Date    1 non-null object
 USD    1 non-null float64
 JPY    1 non-null float64
 BGN    1 non-null float64
 CZK    1 non-null float64
 DKK    1 non-null float64
 GBP    1 non-null float64
 HUF    1 non-null float64
 PLN    1 non-null float64
 RON    1 non-null float64
 SEK    1 non-null float64
 CHF    1 non-null float64
 ISK    1 non-null float64
 NOK    1 non-null float64
 HRK    1 non-null float64
 RUB    1 non-null float64
 TRY    1 non-null float64
 AUD    1 non-null float64
 BRL    1 non-null float64
 CAD    1 non-null float64
 CNY    1 non-null float64
 HKD    1 non-null float64
 IDR    1 non-null float64
 ILS    1 non-null float64
 INR    1 non-null float64
 KRW    1 non-null float64
 MXN    1 non-null float64
 MYR    1 non-null float64
 NZD    1 non-null float64
 PHP    1 non-null float64
 SGD    1 non-null float64
 THB    1 non-null float64
 ZAR    1 non-null float64
        1 non-null object
dtypes: float64(32), object(2)
memory usage: 352.0+ bytes

In [22]:
df_ebc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094 entries, 0 to 5093
Data columns (total 43 columns):
Date           5094 non-null object
USD            5094 non-null float64
JPY            5094 non-null float64
BGN            4696 non-null float64
CYP            2304 non-null float64
CZK            5094 non-null float64
DKK            5094 non-null float64
EEK            3074 non-null float64
GBP            5094 non-null float64
HUF            5094 non-null float64
LTL            4097 non-null float64
LVL            3842 non-null float64
MTL            2304 non-null float64
PLN            5094 non-null float64
ROL            1664 non-null float64
RON            3430 non-null float64
SEK            5094 non-null float64
SIT            2049 non-null float64
SKK            2560 non-null float64
CHF            5094 non-null float64
ISK            2753 non-null float64
NOK            5094 non-null float64
HRK            3495 non-null float64
RUB            3495 non-null float64
TRL            1537 non-null float64
TRY            3557 non-null float64
AUD            5094 non-null float64
BRL            2790 non-null float64
CAD            5094 non-null float64
CNY            3495 non-null float64
HKD            5094 non-null float64
IDR            3495 non-null float64
ILS            2020 non-null float64
INR            2534 non-null float64
KRW            5094 non-null float64
MXN            2790 non-null float64
MYR            3495 non-null float64
NZD            5094 non-null float64
PHP            3495 non-null float64
SGD            5094 non-null float64
THB            3495 non-null float64
ZAR            5094 non-null float64
Unnamed: 42    0 non-null float64
dtypes: float64(42), object(1)
memory usage: 1.7+ MB

In [23]:
print(df_ebc1['Date'].value_counts(dropna=False))

20 November 2018    1
Name: Date, dtype: int64

In [24]:
print(df_ebc2['Date'].value_counts(dropna=False))

2009-05-19    1
2010-02-22    1
2004-12-15    1
2010-10-13    1
2011-12-27    1
2006-10-27    1
2017-04-25    1
2008-10-22    1
2008-02-20    1
2008-09-09    1
2000-11-24    1
2003-09-05    1
1999-04-07    1
2016-08-08    1
2017-01-23    1
2003-07-15    1
2000-07-17    1
2010-07-01    1
2015-08-20    1
2011-05-23    1
2013-03-26    1
2017-06-27    1
2008-07-24    1
2014-02-20    1
2003-09-22    1
1999-10-12    1
2005-10-07    1
2018-05-14    1
2016-01-07    1
2018-05-21    1
             ..
2011-10-14    1
2011-03-02    1
2011-06-29    1
2006-11-16    1
2007-08-02    1
2008-08-27    1
2014-06-06    1
2013-04-17    1
2005-05-05    1
2005-07-14    1
2016-10-31    1
2013-02-19    1
2017-10-19    1
2014-10-07    1
2017-10-04    1
2006-03-22    1
2016-12-22    1
2010-01-06    1
2015-11-09    1
2008-07-11    1
2003-09-11    1
2004-08-24    1
2003-04-03    1
2003-03-25    1
2002-10-09    1
2013-03-28    1
2014-06-30    1
1999-08-04    1
2009-11-05    1
2005-06-15    1
Name: Date, dtype: int64

In [25]:
print(df_ebc2.head(5))

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [26]:
print(df_ebc2.tail(3))

            Date     USD     JPY  BGN      CYP     CZK     DKK      EEK  \
5091  1999-01-06  1.1743  131.42  NaN  0.58200  34.850  7.4452  15.6466
5092  1999-01-05  1.1790  130.96  NaN  0.58230  34.917  7.4495  15.6466
5093  1999-01-04  1.1789  133.73  NaN  0.58231  35.107  7.4501  15.6466

         GBP     HUF     ...       INR      KRW  MXN  MYR     NZD  PHP  \
5091  0.7076  250.67     ...       NaN  1359.54  NaN  NaN  2.1890  NaN
5092  0.7122  250.80     ...       NaN  1373.01  NaN  NaN  2.2011  NaN
5093  0.7111  251.48     ...       NaN  1398.59  NaN  NaN  2.2229  NaN

         SGD  THB     ZAR  Unnamed: 42
5091  1.9699  NaN  6.7307          NaN
5092  1.9655  NaN  6.7975          NaN
5093  1.9554  NaN  6.9358          NaN

[3 rows x 43 columns]

In [27]:
df_ebc2['USD'].median()

1.2262

In [28]:
round(df_ebc2[['USD','PLN', 'RUB']].mean(),2)

USD     1.21
PLN     4.10
RUB    48.68
dtype: float64

In [29]:
df_ebc3 = pd.DataFrame(round(df_ebc2[['USD','PLN', 'RUB']].mean(),2))

In [30]:
df_ebc3.shape

(3, 1)

In [31]:
df_ebc3 = df_ebc3.rename(columns={0:'Kursy srednie'})

In [32]:
df_ebc3

     Kursy srednie
USD           1.21
PLN           4.10
RUB          48.68

In [33]:
df_ebc3

     Kursy srednie
USD           1.21
PLN           4.10
RUB          48.68

In [40]:
df_ebc4 = pd.read_csv('eurofxref-hist.csv', index_col='Date', parse_dates=True)

In [61]:
df_ebc4

,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,LTL,...,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR,Unnamed: 42
Date,,,,,,,,,,,,,,,,,,,,,
2018-11-21,1.1409,129.04,1.9558,NaN,26.002,7.4617,NaN,0.89108,321.63,NaN,...,81.3520,1287.06,23.1180,4.7735,1.6686,59.593,1.5663,37.593,15.9020,NaN
2018-11-20,1.1421,128.34,1.9558,NaN,26.032,7.4627,NaN,0.88908,321.25,NaN,...,81.6500,1287.96,23.3031,4.7803,1.6683,59.859,1.5675,37.655,16.0629,NaN
2018-11-19,1.1427,128.89,1.9558,NaN,26.013,7.4625,NaN,0.89083,321.65,NaN,...,81.8825,1287.63,23.1660,4.7848,1.6740,60.020,1.5684,37.623,16.0122,NaN
2018-11-16,1.1346,128.37,1.9558,NaN,25.985,7.4618,NaN,0.88350,321.93,NaN,...,81.5735,1283.80,23.0573,4.7562,1.6653,59.873,1.5612,37.385,16.1185,NaN
2018-11-15,1.1305,128.16,1.9558,NaN,25.985,7.4622,NaN,0.88370,321.99,NaN,...,81.3700,1277.99,23.0659,4.7358,1.6601,59.614,1.5570,37.278,16.1238,NaN
2018-11-14,1.1296,128.64,1.9558,NaN,25.994,7.4621,NaN,0.87048,322.68,NaN,...,81.6740,1278.88,23.0803,4.7469,1.6651,59.989,1.5589,37.243,16.2025,NaN
2018-11-13,1.1261,128.32,1.9558,NaN,25.939,7.4613,NaN,0.86945,322.89,NaN,...,81.8390,1277.21,23.0152,4.7229,1.6684,59.885,1.5559,37.178,16.2504,NaN
2018-11-12,1.1265,128.20,1.9558,NaN,25.942,7.4597,NaN,0.87563,321.72,NaN,...,82.1106,1280.12,22.8373,4.7133,1.6699,59.973,1.5560,37.298,16.1851,NaN
2018-11-09,1.1346,129.26,1.9558,NaN,25.936,7.4594,NaN,0.87053,321.31,NaN,...,82.2640,1278.77,23.0001,4.7399,1.6815,60.256,1.5627,37.453,16.1884,NaN
2018-11-08,1.1424,129.90,1.9558,NaN,25.887,7.4597,NaN,0.87163,321.44,NaN,...,82.7195,1275.88,22.6860,4.7563,1.6838,60.308,1.5663,37.596,15.9590,NaN
2018-11-07,1.1487,130.02,1.9558,NaN,25.880,7.4598,NaN,0.87403,321.76,NaN,...,83.2800,1286.25,22.6326,4.7734,1.6954,60.584,1.5729,37.660,16.0216,NaN
2018-11-06,1.1428,129.31,1.9558,NaN,25.833,7.4593,NaN,0.87313,322.06,NaN,...,83.3785,1280.90,22.7736,4.7604,1.7105,60.482,1.5693,37.644,16.2351,NaN
2018-11-05,1.1370,128.81,1.9558,NaN,25.846,7.4596,NaN,0.87535,322.44,NaN,...,83.0920,1278.67,22.8514,4.7475,1.7085,60.515,1.5651,37.476,16.3230,NaN
2018-11-02,1.1417,128.89,1.9558,NaN,25.782,7.4603,NaN,0.87870,321.62,NaN,...,82.7085,1276.25,22.8399,4.7483,1.7154,60.693,1.5686,37.539,16.3720,NaN
2018-11-01,1.1393,128.52,1.9558,NaN,25.879,7.4604,NaN,0.88173,322.96,NaN,...,83.6800,1285.70,22.9917,4.7674,1.7190,60.642,1.5701,37.529,16.6021,NaN
2018-10-31,1.1318,128.15,1.9558,NaN,25.922,7.4614,NaN,0.88873,325.10,NaN,...,83.7305,1291.10,22.9029,4.7360,1.7322,60.471,1.5696,37.535,16.7942,NaN
2018-10-30,1.1372,128.28,1.9558,NaN,25.870,7.4614,NaN,0.89148,324.95,NaN,...,83.7280,1295.91,22.7513,4.7558,1.7349,60.862,1.5739,37.880,16.6291,NaN
2018-10-29,1.1381,127.92,1.9558,NaN,25.849,7.4614,NaN,0.88788,324.40,NaN,...,83.5595,1297.35,22.3632,4.7538,1.7401,61.101,1.5737,37.796,16.4761,NaN
2018-10-26,1.1345,127.13,1.9558,NaN,25.860,7.4607,NaN,0.88680,324.41,NaN,...,83.3400,1298.16,22.1824,4.7498,1.7535,60.877,1.5705,37.569,16.6992,NaN
2018-10-25,1.1416,128.27,1.9558,NaN,25.831,7.4610,NaN,0.88533,323.91,NaN,...,83.6525,1296.40,22.2550,4.7599,1.7473,61.283,1.5744,37.570,16.5315,NaN
2018-10-24,1.1389,128.37,1.9558,NaN,25.833,7.4604,NaN,0.88233,323.22,NaN,...,83.3255,1291.15,22.0293,4.7452,1.7408,61.207,1.5724,37.481,16.3455,NaN
2018-10-23,1.1478,128.76,1.9558,NaN,25.814,7.4603,NaN,0.88103,322.81,NaN,...,84.4435,1305.81,22.2469,4.7778,1.7514,61.716,1.5822,37.705,16.4759,NaN
2018-10-22,1.1494,129.63,1.9558,NaN,25.848,7.4603,NaN,0.88425,323.12,NaN,...,84.5460,1300.75,22.1820,4.7797,1.7492,61.841,1.5855,37.672,16.4250,NaN
2018-10-19,1.1470,129.05,1.9558,NaN,25.867,7.4606,NaN,0.88020,323.20,NaN,...,84.1230,1296.11,21.8911,4.7681,1.7379,61.605,1.5800,37.358,16.4499,NaN
2018-10-18,1.1505,129.44,1.9558,NaN,25.863,7.4606,NaN,0.87843,322.42,NaN,...,84.6850,1306.55,21.8143,4.7821,1.7522,62.137,1.5863,37.512,16.4104,NaN
2018-10-17,1.1530,129.43,1.9558,NaN,25.843,7.4604,NaN,0.87945,322.55,NaN,...,84.8915,1299.48,21.7267,4.7881,1.7563,62.181,1.5867,37.542,16.4471,NaN
2018-10-16,1.1587,129.92,1.9558,NaN,25.821,7.4609,NaN,0.87593,322.06,NaN,...,85.1200,1301.92,21.7751,4.8083,1.7604,62.381,1.5925,37.733,16.5064,NaN
2018-10-15,1.1581,129.53,1.9558,NaN,25.798,7.4609,NaN,0.88045,323.45,NaN,...,85.4735,1307.61,21.8192,4.8131,1.7723,62.649,1.5945,37.841,16.7129,NaN
2018-10-12,1.1574,129.99,1.9558,NaN,25.777,7.4602,NaN,0.87640,324.15,NaN,...,85.1445,1309.22,21.8434,4.8084,1.7768,62.581,1.5932,37.882,16.7000,NaN
2018-10-11,1.1575,130.00,1.9558,NaN,25.848,7.4603,NaN,0.87490,324.97,NaN,...,85.7615,1320.70,22.1014,4.8140,1.7852,62.540,1.5969,37.914,16.8958,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-02-12,1.1244,128.92,NaN,0.58065,37.860,7.4347,15.6466,0.69170,249.32,4.5011,...,NaN,1322.20,NaN,NaN,2.0550,NaN,1.9037,NaN,6.8560,NaN
1999-02-11,1.1312,129.35,NaN,0.58088,37.940,7.4347,15.6466,0.69750,249.64,4.5277,...,NaN,1329.97,NaN,NaN,2.0481,NaN,1.9104,NaN,6.8575,NaN
1999-02-10,1.1342,130.73,NaN,0.58092,38.135,7.4347,15.6466,0.69540,251.05,4.5367,...,NaN,1335.81,NaN,NaN,2.0549,NaN,1.9202,NaN,6.9361,NaN
1999-02-09,1.1333,129.91,NaN,0.58089,38.358,7.4356,15.6466,0.69110,249.75,4.5329,...,NaN,1332.26,NaN,NaN,2.0411,NaN,1.9182,NaN,6.8990,NaN
1999-02-08,1.1246,127.82,NaN,0.58080,37.710,7.4355,15.6466,0.68880,248.64,4.4977,...,NaN,1322.19,NaN,NaN,2.0149,NaN,1.9002,NaN,6.6959,NaN
1999-02-05,1.1292,127.95,NaN,0.58089,37.365,7.4358,15.6466,0.68850,248.91,4.5189,...,NaN,1321.34,NaN,NaN,2.0431,NaN,1.9070,NaN,6.8119,NaN
1999-02-04,1.1263,127.65,NaN,0.58072,37.158,7.4362,15.6466,0.68940,248.77,4.5079,...,NaN,1318.51,NaN,NaN,2.0461,NaN,1.9009,NaN,6.7922,NaN
1999-02-03,1.1337,126.86,NaN,0.58092,37.168,7.4372,15.6466,0.69250,249.00,4.5373,...,NaN,1327.18,NaN,NaN,2.0566,NaN,1.9132,NaN,6.8135,NaN
1999-02-02,1.1337,127.70,NaN,0.58086,37.395,7.4368,15.6466,0.68880,248.99,4.5359,...,NaN,1326.43,NaN,NaN,2.0760,NaN,1.9114,NaN,6.8135,NaN
1999-02-01,1.1338,130.88,NaN,0.58109,37.142,7.4363,15.6466,0.69040,248.97,4.5355,...,NaN,1331.58,NaN,NaN,2.0861,NaN,1.9169,NaN,6.8425,NaN
1999-01-29,1.1384,132.10,NaN,0.58112,36.827,7.4359,15.6466,0.69100,249.24,4.5543,...,NaN,1337.33,NaN,NaN,2.1107,NaN,1.9233,NaN,6.8804,NaN
1999-01-28,1.1410,132.25,NaN,0.58122,36.432,7.4359,15.6466,0.69280,249.34,4.5658,...,NaN,1341.07,NaN,NaN,2.1365,NaN,1.9290,NaN,6.9145,NaN
1999-01-27,1.1529,131.91,NaN,0.58146,36.464,7.4358,15.6466,0.69680,250.08,4.6137,...,NaN,1354.55,NaN,NaN,2.1594,NaN,1.9446,NaN,6.9666,NaN
1999-01-26,1.1582,131.81,NaN,0.58189,36.615,7.4360,15.6466,0.69760,250.69,4.6305,...,NaN,1360.47,NaN,NaN,2.1669,NaN,1.9512,NaN,6.9955,NaN
1999-01-25,1.1584,132.09,NaN,0.58167,36.211,7.4367,15.6466,0.69890,250.47,4.6345,...,NaN,1366.16,NaN,NaN,2.1659,NaN,1.9557,NaN,7.0241,NaN
1999-01-22,1.1567,131.88,NaN,0.58173,36.287,7.4372,15.6466,0.70050,250.16,4.6326,...,NaN,1365.80,NaN,NaN,2.1519,NaN,1.9461,NaN,7.0300,NaN
1999-01-21,1.1572,130.34,NaN,0.58163,36.060,7.4385,15.6466,0.70230,250.17,4.6298,...,NaN,1356.82,NaN,NaN,2.1489,NaN,1.9368,NaN,6.9797,NaN
1999-01-20,1.1575,131.59,NaN,0.58166,35.773,7.4378,15.6466,0.70140,249.99,4.6285,...,NaN,1349.24,NaN,NaN,2.1499,NaN,1.9398,NaN,6.9450,NaN
1999-01-19,1.1616,132.14,NaN,0.58176,35.745,7.4380,15.6466,0.70000,250.64,4.6460,...,NaN,1364.47,NaN,NaN,2.1614,NaN,1.9521,NaN,7.0161,NaN
1999-01-18,1.1612,132.90,NaN,0.58163,35.615,7.4431,15.6466,0.70130,250.78,4.6457,...,NaN,1371.26,NaN,NaN,2.1671,NaN,1.9549,NaN,6.9596,NaN
1999-01-15,1.1626,131.74,NaN,0.58187,35.860,7.4441,15.6466,0.70390,253.34,4.6516,...,NaN,1375.76,NaN,NaN,2.1582,NaN,1.9570,NaN,7.2197,NaN
1999-01-14,1.1653,132.74,NaN,0.58190,35.698,7.4437,15.6466,0.70620,253.84,4.6636,...,NaN,1382.23,NaN,NaN,2.1570,NaN,1.9615,NaN,7.1316,NaN
1999-01-13,1.1744,131.89,NaN,0.58190,36.113,7.4432,15.6466,0.70840,255.01,4.6986,...,NaN,1377.93,NaN,NaN,2.1744,NaN,1.9815,NaN,7.2543,NaN
1999-01-12,1.1520,129.63,NaN,0.58140,35.250,7.4430,15.6466,0.70660,249.20,4.6088,...,NaN,1353.43,NaN,NaN,2.1210,NaN,1.9343,NaN,6.9581,NaN
1999-01-11,1.1569,126.33,NaN,0.58167,35.173,7.4433,15.6466,0.70440,249.70,4.6296,...,NaN,1356.70,NaN,NaN,2.1257,NaN,1.9358,NaN,6.7910,NaN
1999-01-08,1.1659,130.09,NaN,0.58187,34.938,7.4433,15.6466,0.70940,250.15,4.6643,...,NaN,1366.73,NaN,NaN,2.1557,NaN,1.9537,NaN,6.7855,NaN
1999-01-07,1.1632,129.43,NaN,0.58187,34.886,7.4431,15.6466,0.70585,250.09,4.6548,...,NaN,1337.16,NaN,NaN,2.1531,NaN,1.9436,NaN,6.8283,NaN
1999-01-06,1.1743,131.42,NaN,0.58200,34.850,7.4452,15.6466,0.70760,250.67,4.6994,...,NaN,1359.54,NaN,NaN,2.1890,NaN,1.9699,NaN,6.7307,NaN
1999-01-05,1.1790,130.96,NaN,0.58230,34.917,7.4495,15.6466,0.71220,250.80,4.7174,...,NaN,1373.01,NaN,NaN,2.2011,NaN,1.9655,NaN,6.7975,NaN
1999-01-04,1.1789,133.73,NaN,0.58231,35.107,7.4501,15.6466,0.71110,251.48,4.7170,...,NaN,1398.59,NaN,NaN,2.2229,NaN,1.9554,NaN,6.9358,NaN

In [90]:
type(df_ebc4)

pandas.core.frame.DataFrame

In [91]:
df_ebc5 = df_ebc4[['USD', 'CZK']].mean()

In [92]:
df_ebc5

USD     1.206910
CZK    28.675686
dtype: float64

In [107]:
pvt_ebc = df_ebc2.pivot_table(index=['Date'])

In [108]:
a = pvt_ebc[['USD','CZK']]

In [109]:
print(a.mean())

USD     1.206910
CZK    28.675686
dtype: float64