# Zadnie rozgrzewkowe oraz zadanie rozgrzewkowe 2

In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import random
import numpy as np

In [2]:
dni = Series(['pn','wt','sr','czw','pt','sb','nd'])
tempertury = Series([11,12,12,14,15,16,19])
wilgotnosc = Series(['80%', '90%', '83%', '95%','88%', '91%'])
slownik = {'Dzien':dni, 'Temperatura': tempertury, 'Wilgotnosc': wilgotnosc}

ramka = DataFrame(data=slownik)

In [3]:
ramka

  Dzien  Temperatura Wilgotnosc
0    pn           11        80%
1    wt           12        90%
2    sr           12        83%
3   czw           14        95%
4    pt           15        88%
5    sb           16        91%
6    nd           19        NaN

In [4]:
from faker import Faker
from faker.generator import random
fake = Faker('pl_PL')

In [5]:
grr = [fake.name() for i in range(250)]

In [6]:
wzrost = np.random.normal(168, 6, 250)
waga = np.random.normal(60, 1.5, 250)
nazwa = [grr.pop(random.randrange(len(grr))) for _ in range(250)]
slownik_zad1 = {'Imie i Nzawisko':nazwa, 'Wzrost':wzrost, 'Waga':waga}

tabela_bmi = DataFrame(data=slownik_zad1)

In [7]:
tabela_bmi

               Imie i Nzawisko       Waga      Wzrost
0                  Lidia Jaśko  60.853959  167.580843
1         pani Apolonia Watras  56.487997  158.627822
2              Oskar Madajczyk  58.108557  164.637946
3          pani Marika Tomalak  60.075294  181.038414
4              Nikodem Lelonek  56.753099  167.621586
5             pan Filip Sadura  60.649064  167.552041
6                  Adam Celuch  57.917152  166.015123
7                Natan Polewka  58.199810  175.767527
8               Filip Początek  62.845730  151.116275
9                Lidia Klemens  61.044697  171.735915
10               Liwia Bluszcz  59.520501  176.884130
11                 Filip Kurda  60.126215  167.441096
12        pan Tymon Linkiewicz  59.570837  161.148737
13               Urszula Wujec  60.010627  170.758982
14         pani Gaja Wittbrodt  61.741679  162.403065
15           Dariusz Zaniewicz  59.129221  167.327627
16                 Róża Gietka  58.927627  178.143918
17           Konstanty Oziębło  62.695009  159.265341
18              Dorota Borczyk  57.938424  162.610185
19         Oliwier Kręcichwost  59.121599  177.581247
20              Bruno Jakubiuk  57.560715  170.898374
21               Marika Kozica  59.771897  170.451842
22                 Mieszko Dyś  59.103055  165.388256
23         Anna Maria Suchojad  59.114897  165.681941
24                Filip Dorawa  61.353875  168.262162
25             Sylwia Ciepluch  57.864513  168.796715
26     pan Maksymilian Dębniak  57.905896  162.320082
27             Krzysztof Szyja  62.176598  177.249737
28                Janina Cisoń  61.010763  169.291392
29                 Mikołaj Goś  60.651661  170.595852
..                         ...        ...         ...
220      Anastazja Raczkiewicz  59.917389  160.437671
221              Kornel Fidura  59.689647  172.991264
222         Tymoteusz Haponiuk  58.222835  165.862284
223              Tadeusz Lampa  61.445803  167.486251
224  pani Adrianna Bohdanowicz  60.346754  162.630235
225            Stanisław Połom  56.985452  169.428268
226        Radosław Matulewicz  58.347669  165.916601
227               Gustaw Łasak  59.812314  179.508829
228           pan Patryk Wabik  59.909232  158.474358
229         pan Fabian Mądrzyk  61.199745  168.218327
230             Tymon Małyszek  62.559069  178.353105
231       pan Krystian Kroczak  60.874757  163.009956
232              Damian Miozga  61.715704  164.406162
233        Jędrzej Andrearczyk  58.773496  161.563304
234                Eliza Kobak  58.708902  171.563457
235              Bruno Warczak  58.354626  168.938957
236        pan Krzysztof Tylus  60.515034  168.208053
237  pani Marcelina Gospodarek  60.710542  162.774699
238           pan Tomasz Czura  59.143070  174.606763
239              Kamila Pędrak  60.539237  178.184316
240               Janina Dytko  62.820037  158.455377
241            Wojciech Kukier  58.915005  165.143135
242            Klara Gronostaj  57.817787  172.104019
243              Marcin Świgoń  61.573888  169.077477
244              Rafał Pietrek  62.006488  164.537841
245           Fryderyk Nehring  62.757559  170.119989
246        Krzysztof Urynowicz  61.137286  149.019696
247         pani Rozalia Cisoń  58.727237  166.782369
248              Natan Bystrek  59.074738  170.554338
249           Karol Gregorczuk  59.441846  161.823736

[250 rows x 3 columns]

In [8]:
tabela_bmi['BMI'] = waga/(wzrost/100)**2

In [9]:
tabela_bmi

               Imie i Nzawisko       Waga      Wzrost        BMI
0                  Lidia Jaśko  60.853959  167.580843  21.669061
1         pani Apolonia Watras  56.487997  158.627822  22.449023
2              Oskar Madajczyk  58.108557  164.637946  21.437800
3          pani Marika Tomalak  60.075294  181.038414  18.329661
4              Nikodem Lelonek  56.753099  167.621586  20.198992
5             pan Filip Sadura  60.649064  167.552041  21.603527
6                  Adam Celuch  57.917152  166.015123  21.014153
7                Natan Polewka  58.199810  175.767527  18.838412
8               Filip Początek  62.845730  151.116275  27.520308
9                Lidia Klemens  61.044697  171.735915  20.697872
10               Liwia Bluszcz  59.520501  176.884130  19.023431
11                 Filip Kurda  60.126215  167.441096  21.445676
12        pan Tymon Linkiewicz  59.570837  161.148737  22.939286
13               Urszula Wujec  60.010627  170.758982  20.580743
14         pani Gaja Wittbrodt  61.741679  162.403065  23.409384
15           Dariusz Zaniewicz  59.129221  167.327627  21.118684
16                 Róża Gietka  58.927627  178.143918  18.568505
17           Konstanty Oziębło  62.695009  159.265341  24.716696
18              Dorota Borczyk  57.938424  162.610185  21.911453
19         Oliwier Kręcichwost  59.121599  177.581247  18.747872
20              Bruno Jakubiuk  57.560715  170.898374  19.708352
21               Marika Kozica  59.771897  170.451842  20.572811
22                 Mieszko Dyś  59.103055  165.388256  21.607305
23         Anna Maria Suchojad  59.114897  165.681941  21.535085
24                Filip Dorawa  61.353875  168.262162  21.670507
25             Sylwia Ciepluch  57.864513  168.796715  20.308803
26     pan Maksymilian Dębniak  57.905896  162.320082  21.977499
27             Krzysztof Szyja  62.176598  177.249737  19.790454
28                Janina Cisoń  61.010763  169.291392  21.288090
29                 Mikołaj Goś  60.651661  170.595852  20.840386
..                         ...        ...         ...        ...
220      Anastazja Raczkiewicz  59.917389  160.437671  23.277706
221              Kornel Fidura  59.689647  172.991264  19.945764
222         Tymoteusz Haponiuk  58.222835  165.862284  21.164015
223              Tadeusz Lampa  61.445803  167.486251  21.904528
224  pani Adrianna Bohdanowicz  60.346754  162.630235  22.816621
225            Stanisław Połom  56.985452  169.428268  19.851451
226        Radosław Matulewicz  58.347669  165.916601  21.195508
227               Gustaw Łasak  59.812314  179.508829  18.561752
228           pan Patryk Wabik  59.909232  158.474358  23.854799
229         pan Fabian Mądrzyk  61.199745  168.218327  21.627334
230             Tymon Małyszek  62.559069  178.353105  19.666584
231       pan Krystian Kroczak  60.874757  163.009956  22.909150
232              Damian Miozga  61.715704  164.406162  22.832818
233        Jędrzej Andrearczyk  58.773496  161.563304  22.516251
234                Eliza Kobak  58.708902  171.563457  19.945934
235              Bruno Warczak  58.354626  168.938957  20.446344
236        pan Krzysztof Tylus  60.515034  168.208053  21.387977
237  pani Marcelina Gospodarek  60.710542  162.774699  22.913441
238           pan Tomasz Czura  59.143070  174.606763  19.399107
239              Kamila Pędrak  60.539237  178.184316  19.067686
240               Janina Dytko  62.820037  158.455377  25.019822
241            Wojciech Kukier  58.915005  165.143135  21.602543
242            Klara Gronostaj  57.817787  172.104019  19.519983
243              Marcin Świgoń  61.573888  169.077477  21.538976
244              Rafał Pietrek  62.006488  164.537841  22.903695
245           Fryderyk Nehring  62.757559  170.119989  21.684797
246        Krzysztof Urynowicz  61.137286  149.019696  27.530798
247         pani Rozalia Cisoń  58.727237  166.782369  21.112482
248              Natan Bystrek  59.074738  170.554338  20.308426
249           Karol Gregorczuk  59.441846  161.823736  22.699058

[250 rows x 4 columns]

In [10]:
tabela_bmi.sort_values(by='BMI', ascending=False)

              Imie i Nzawisko       Waga      Wzrost        BMI
246       Krzysztof Urynowicz  61.137286  149.019696  27.530798
8              Filip Początek  62.845730  151.116275  27.520308
164               Oskar Osman  60.546978  148.689452  27.386224
52              Ida Karłowicz  61.892446  155.169746  25.705352
188         pan Patryk Bisaga  57.511786  150.741129  25.310069
31            Anastazja Ragan  61.122352  156.137914  25.071673
54            pan Józef Kabza  60.803884  155.862062  25.029403
240              Janina Dytko  62.820037  158.455377  25.019822
64                Sara Cherek  59.909748  155.500382  24.776193
17          Konstanty Oziębło  62.695009  159.265341  24.716696
50               Monika Mokwa  62.349665  158.843134  24.711393
77               Tola Godzisz  62.287024  159.083601  24.611992
33         Artur Pawełkiewicz  61.044183  157.601560  24.576683
145          Adrian Wawryniuk  61.009178  158.727885  24.215237
152          pan Artur Słupik  63.425200  162.281232  24.083813
161       pan Nikodem Miękina  61.790941  160.499746  23.987010
79          pani Anita Wojcik  59.789085  157.900740  23.980243
228          pan Patryk Wabik  59.909232  158.474358  23.854799
37              Bartek Bugiel  60.728968  159.807981  23.779295
165                Filip Byra  59.918113  158.752021  23.774949
160             Błażej Namysł  64.049092  164.214434  23.751461
215             Sylwia Opioła  61.348053  160.861949  23.707957
213             Patryk Szabla  58.539397  157.219342  23.682977
91            Hubert Podgórny  58.011521  157.021330  23.528647
14        pani Gaja Wittbrodt  61.741679  162.403065  23.409384
177         pani Ada Wałaszek  61.962438  162.984186  23.325854
95              Olgierd Kasak  59.963288  160.479197  23.283483
220     Anastazja Raczkiewicz  59.917389  160.437671  23.277706
216              Artur Smoter  59.114557  159.574892  23.214820
43         Franciszek Siwczak  60.574821  161.621035  23.189767
..                        ...        ...         ...        ...
36          pan Dariusz Ligas  61.650380  177.865890  19.487244
166          Kajetan Stoltman  58.740619  173.672223  19.475015
238          pan Tomasz Czura  59.143070  174.606763  19.399107
118  pani Krystyna Olewniczak  57.698863  172.993187  19.280099
135             Leonard Lamch  57.004696  172.136733  19.238160
75      pani Elżbieta Madziar  58.227882  174.055193  19.220161
105      pan Wojciech Naumiuk  59.503892  176.003389  19.208936
133           Oskar Szambelan  57.776060  173.657673  19.158432
176            Sandra Kozubal  56.655579  172.286679  19.087071
239             Kamila Pędrak  60.539237  178.184316  19.067686
98               Jacek Prażmo  58.035962  174.659071  19.024572
10              Liwia Bluszcz  59.520501  176.884130  19.023431
119             Albert Wołoch  61.186477  179.360227  19.019678
144       Melania Milczarczyk  62.407640  181.162777  19.015153
57            Radosław Huczko  56.739784  172.801615  19.001683
94               Witold Fedak  59.605778  177.232377  18.975893
7               Natan Polewka  58.199810  175.767527  18.838412
49            Ernest Drobniak  58.870066  177.023610  18.785905
19        Oliwier Kręcichwost  59.121599  177.581247  18.747872
16                Róża Gietka  58.927627  178.143918  18.568505
227              Gustaw Łasak  59.812314  179.508829  18.561752
123               Sylwia Zyga  58.823668  179.056987  18.347190
3         pani Marika Tomalak  60.075294  181.038414  18.329661
179       pan Radosław Ciuruś  60.811325  182.691245  18.220026
47         pani Aniela Deryło  59.909975  181.478791  18.190615
217        pani Kalina Kutnik  59.207711  182.320560  17.811766
114          Marika Fraszczyk  57.422434  180.229143  17.677936
207          Franciszek Cibor  57.217734  180.373757  17.586683
203             Józef Kurpisz  56.625257  179.939863  17.488615
201             Szymon Bylina  61.053318  187.225275  17.417279

[250 rows x 4 columns]

In [11]:
top_3 = tabela_bmi.sort_values(by='BMI', ascending=False).head(3)

In [12]:
top_3

         Imie i Nzawisko       Waga      Wzrost        BMI
246  Krzysztof Urynowicz  61.137286  149.019696  27.530798
8         Filip Początek  62.845730  151.116275  27.520308
164          Oskar Osman  60.546978  148.689452  27.386224

# Zadanie 0

In [13]:
df_ebc1 = pd.read_csv('eurofxref.csv')

In [14]:
df_ebc2 = pd.read_csv('eurofxref-hist.csv')

In [15]:
print(df_ebc1.head())

               Date     USD     JPY     BGN     CZK     DKK      GBP     HUF  \
0  20 November 2018  1.1421  128.34  1.9558  26.032  7.4627  0.88908  321.25

      PLN     RON ...    INR      KRW      MXN     MYR     NZD     PHP  \
0  4.3177  4.6673 ...  81.65  1287.96  23.3031  4.7803  1.6683  59.859

      SGD     THB      ZAR
0  1.5675  37.655  16.0629

[1 rows x 34 columns]

In [16]:
print(df_ebc2.head())

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [17]:
print(df_ebc2.shape)

(5094, 43)

In [18]:
print(df_ebc1.shape)

(1, 34)

In [19]:
print(df_ebc1.columns)

Index(['Date', ' USD', ' JPY', ' BGN', ' CZK', ' DKK', ' GBP', ' HUF', ' PLN',
       ' RON', ' SEK', ' CHF', ' ISK', ' NOK', ' HRK', ' RUB', ' TRY', ' AUD',
       ' BRL', ' CAD', ' CNY', ' HKD', ' IDR', ' ILS', ' INR', ' KRW', ' MXN',
       ' MYR', ' NZD', ' PHP', ' SGD', ' THB', ' ZAR', ' '],
      dtype='object')

In [20]:
print(df_ebc2.columns)

Index(['Date', 'USD', 'JPY', 'BGN', 'CYP', 'CZK', 'DKK', 'EEK', 'GBP', 'HUF',
       'LTL', 'LVL', 'MTL', 'PLN', 'ROL', 'RON', 'SEK', 'SIT', 'SKK', 'CHF',
       'ISK', 'NOK', 'HRK', 'RUB', 'TRL', 'TRY', 'AUD', 'BRL', 'CAD', 'CNY',
       'HKD', 'IDR', 'ILS', 'INR', 'KRW', 'MXN', 'MYR', 'NZD', 'PHP', 'SGD',
       'THB', 'ZAR', 'Unnamed: 42'],
      dtype='object')

In [21]:
df_ebc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
Date    1 non-null object
 USD    1 non-null float64
 JPY    1 non-null float64
 BGN    1 non-null float64
 CZK    1 non-null float64
 DKK    1 non-null float64
 GBP    1 non-null float64
 HUF    1 non-null float64
 PLN    1 non-null float64
 RON    1 non-null float64
 SEK    1 non-null float64
 CHF    1 non-null float64
 ISK    1 non-null float64
 NOK    1 non-null float64
 HRK    1 non-null float64
 RUB    1 non-null float64
 TRY    1 non-null float64
 AUD    1 non-null float64
 BRL    1 non-null float64
 CAD    1 non-null float64
 CNY    1 non-null float64
 HKD    1 non-null float64
 IDR    1 non-null float64
 ILS    1 non-null float64
 INR    1 non-null float64
 KRW    1 non-null float64
 MXN    1 non-null float64
 MYR    1 non-null float64
 NZD    1 non-null float64
 PHP    1 non-null float64
 SGD    1 non-null float64
 THB    1 non-null float64
 ZAR    1 non-null float64
        1 non-null object
dtypes: float64(32), object(2)
memory usage: 352.0+ bytes

In [22]:
df_ebc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094 entries, 0 to 5093
Data columns (total 43 columns):
Date           5094 non-null object
USD            5094 non-null float64
JPY            5094 non-null float64
BGN            4696 non-null float64
CYP            2304 non-null float64
CZK            5094 non-null float64
DKK            5094 non-null float64
EEK            3074 non-null float64
GBP            5094 non-null float64
HUF            5094 non-null float64
LTL            4097 non-null float64
LVL            3842 non-null float64
MTL            2304 non-null float64
PLN            5094 non-null float64
ROL            1664 non-null float64
RON            3430 non-null float64
SEK            5094 non-null float64
SIT            2049 non-null float64
SKK            2560 non-null float64
CHF            5094 non-null float64
ISK            2753 non-null float64
NOK            5094 non-null float64
HRK            3495 non-null float64
RUB            3495 non-null float64
TRL            1537 non-null float64
TRY            3557 non-null float64
AUD            5094 non-null float64
BRL            2790 non-null float64
CAD            5094 non-null float64
CNY            3495 non-null float64
HKD            5094 non-null float64
IDR            3495 non-null float64
ILS            2020 non-null float64
INR            2534 non-null float64
KRW            5094 non-null float64
MXN            2790 non-null float64
MYR            3495 non-null float64
NZD            5094 non-null float64
PHP            3495 non-null float64
SGD            5094 non-null float64
THB            3495 non-null float64
ZAR            5094 non-null float64
Unnamed: 42    0 non-null float64
dtypes: float64(42), object(1)
memory usage: 1.7+ MB

In [23]:
print(df_ebc1['Date'].value_counts(dropna=False))

20 November 2018    1
Name: Date, dtype: int64

In [24]:
print(df_ebc2['Date'].value_counts(dropna=False))

2002-09-13    1
2017-10-10    1
2006-11-07    1
2006-01-26    1
2014-04-03    1
2014-06-17    1
2008-02-20    1
2004-03-15    1
2004-03-30    1
2003-05-26    1
2000-07-12    1
2008-01-10    1
2002-06-17    1
2013-04-03    1
2002-09-26    1
2013-05-16    1
2004-08-05    1
2007-03-28    1
2002-04-02    1
2001-10-29    1
2015-09-16    1
2012-04-19    1
2012-02-29    1
2014-12-01    1
2017-07-14    1
2006-02-23    1
2002-12-11    1
2016-08-19    1
1999-06-21    1
2013-08-22    1
             ..
1999-07-23    1
2001-06-07    1
2011-03-10    1
2013-04-18    1
2016-01-29    1
2003-01-03    1
2016-09-30    1
2013-02-28    1
2018-07-18    1
2015-01-22    1
2015-04-13    1
2008-08-07    1
2006-02-07    1
2018-06-28    1
2006-10-20    1
2009-04-24    1
2014-12-16    1
2015-05-19    1
1999-07-07    1
2005-12-19    1
2012-01-26    1
2012-03-14    1
2006-10-10    1
2014-07-09    1
2001-04-19    1
1999-10-29    1
2005-09-29    1
2000-01-13    1
2001-08-03    1
2015-10-23    1
Name: Date, dtype: int64

In [25]:
print(df_ebc2.head(5))

         Date     USD     JPY     BGN  CYP     CZK     DKK  EEK      GBP  \
0  2018-11-21  1.1409  129.04  1.9558  NaN  26.002  7.4617  NaN  0.89108
1  2018-11-20  1.1421  128.34  1.9558  NaN  26.032  7.4627  NaN  0.88908
2  2018-11-19  1.1427  128.89  1.9558  NaN  26.013  7.4625  NaN  0.89083
3  2018-11-16  1.1346  128.37  1.9558  NaN  25.985  7.4618  NaN  0.88350
4  2018-11-15  1.1305  128.16  1.9558  NaN  25.985  7.4622  NaN  0.88370

      HUF     ...           INR      KRW      MXN     MYR     NZD     PHP  \
0  321.63     ...       81.3520  1287.06  23.1180  4.7735  1.6686  59.593
1  321.25     ...       81.6500  1287.96  23.3031  4.7803  1.6683  59.859
2  321.65     ...       81.8825  1287.63  23.1660  4.7848  1.6740  60.020
3  321.93     ...       81.5735  1283.80  23.0573  4.7562  1.6653  59.873
4  321.99     ...       81.3700  1277.99  23.0659  4.7358  1.6601  59.614

      SGD     THB      ZAR  Unnamed: 42
0  1.5663  37.593  15.9020          NaN
1  1.5675  37.655  16.0629          NaN
2  1.5684  37.623  16.0122          NaN
3  1.5612  37.385  16.1185          NaN
4  1.5570  37.278  16.1238          NaN

[5 rows x 43 columns]

In [26]:
print(df_ebc2.tail(3))

            Date     USD     JPY  BGN      CYP     CZK     DKK      EEK  \
5091  1999-01-06  1.1743  131.42  NaN  0.58200  34.850  7.4452  15.6466
5092  1999-01-05  1.1790  130.96  NaN  0.58230  34.917  7.4495  15.6466
5093  1999-01-04  1.1789  133.73  NaN  0.58231  35.107  7.4501  15.6466

         GBP     HUF     ...       INR      KRW  MXN  MYR     NZD  PHP  \
5091  0.7076  250.67     ...       NaN  1359.54  NaN  NaN  2.1890  NaN
5092  0.7122  250.80     ...       NaN  1373.01  NaN  NaN  2.2011  NaN
5093  0.7111  251.48     ...       NaN  1398.59  NaN  NaN  2.2229  NaN

         SGD  THB     ZAR  Unnamed: 42
5091  1.9699  NaN  6.7307          NaN
5092  1.9655  NaN  6.7975          NaN
5093  1.9554  NaN  6.9358          NaN

[3 rows x 43 columns]

In [27]:
df_ebc2['USD'].median()

1.2262

In [28]:
round(df_ebc2[['USD','PLN', 'RUB']].mean(),2)

USD     1.21
PLN     4.10
RUB    48.68
dtype: float64

In [29]:
df_ebc3 = pd.DataFrame(round(df_ebc2[['USD','PLN', 'RUB']].mean(),2))

In [30]:
df_ebc3.shape

(3, 1)

In [31]:
df_ebc3 = df_ebc3.rename(columns={0:'Kursy srednie'})

In [32]:
df_ebc3

     Kursy srednie
USD           1.21
PLN           4.10
RUB          48.68